@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-grey-black bg-fixed;
	}
}

.Typewriter__wrapper {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #029cd8;
	text-underline-position: under;
}

.underline_position {
	text-underline-position: under;
}

.custom_arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #17181b;
}
