@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-grey-black bg-fixed;
	}
}

.Typewriter__wrapper {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #029cd8;
	text-underline-position: under;
}

.underline_position {
	text-underline-position: under;
}
